---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Blog</title>
  </head>
  <body>
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/blog/">Blog</a>
    <h1>My Blogs</h1>
    <h2>Blog 101</h2>
    <h3>Category: Social Interactions</h3>
    <h4>Topic:</h4><em>The cues from titbits of daily interactions.</em>
    <p>
      Often we wonder, what it is to be like all knowing. Inadvertently so, our
      lives are woven together with the threads of social intricacies.
    </p>
  </body>
</html>
