---
import BaseLayout from "../layouts/BaseLayout.astro";
import Greeting from "../components/Greeting";
const pageTitle = "Sloppd";
---

<BaseLayout pageTitle={pageTitle}>
  <h2>Keep the threads open to stop the slips in life..</h2>
  <!-- <Greeting messages={["Hi", "नमस्ते", "Hola", "ওহে", "안녕하세요"]} /> -->
  <Greeting
    client:visible
    messages={[
      "Hi",
      "नमस्ते",
      "Hola",
      "ওহে",
      "안녕하세요",
      "Salve",
      "Sawubona",
      "Kia ora",
      "Chibai",
      "你好",
      "שלום",
      "سلام",
    ]}
  />
</BaseLayout>
